@font-face {
font-family:LFont;
src:url("https://cdn.jsdelivr.net/gh/liulihaocai/Random_identity/res/a.ttf");
}

#vid {
	text-align: center;
	vertical-align: middle;
}

.bg-box {
	background: url('http://www.dmoe.cc/random.php');
	position: fixed;
	width: 100%;
	height: 100%;
	position: absolute;
}

.opac {
	filter: opacity(85%);
}

.changef{
	font-family:LFont;
}

.bolder{
	font-weight:bold;
}
